.logo {
    width: 4%;
    height: 4%;
    padding-left: 1.1%;
}
/*logo styling ends here */
/*nav bar styling here */
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #04aa6d;
    color: black;
}

/*for active top nav bar */
#active { 
    background-color: rgb(112, 214, 81);
   }
   
/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: right;
    background-color: #04aa6d;
    color: white;
}
/*marquee styling here */
/* Marquee text styling */
marquee {
    font-size: 18px; /* Font size */
    font-weight: bold; /* Font weight */
    padding: 10px 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    width: 100%; /* Make the marquee full width of its container */
    animation: colorChange 5s infinite alternate;
    background-color: #97b1d6;
}
/*This is for the input search bar*/
.input {
    color: white;
    font-size: large;
    background-color: transparent;
    width: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: 1 px solid green;
}
/*footer starts here */
footer {
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*footer ends here */

/*Adding UI for the dark mode button here */
.switch {
    float: right;
    position: relative;
    width: 120px;
    height: 50px;
    margin: 0px;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(4, 52, 73);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: background-image 0.7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

.switch:checked {
    background-color: rgb(0, 195, 255);
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

.switch:after {
    content: "";
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    animation: off 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off {
    0% {
        transform: translateX(80px);
        width: 46px;
    }

    50% {
        width: 75px;
        border-radius: 25px;
    }

    100% {
        transform: translateX(0px);
        width: 46px;
    }
}

.switch:checked:after {
    animation: on 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on {
    0% {
        transform: translateX(0px);
        width: 46px;
    }

    50% {
        width: 75px;
        border-radius: 25px;
    }

    100% {
        transform: translateX(80px);
        width: 46px;
    }
}

.switch:checked:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    transform-origin: 53px 10px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: sun 0.7s forwards ease;
}

@keyframes sun {
    0% {
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }

    50% {
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }

    90% {
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
        filter: blur(1px);
    }

    100% {
        transform: rotate(0deg);
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
        filter: blur(1px);
    }
}

.switch:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    transform-origin: 53px 10px;
    animation: moon 0.7s forwards ease;
}

@keyframes moon {
    0% {
        transform: rotate(0deg);
        filter: blur(1px);
    }

    50% {
        filter: blur(1px);
    }

    90% {
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }

    100% {
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
}
@media (max-width: 750px) {
    .wrapper {
        padding-left: 60%;
    }
}
@media (max-width: 650px) {
    .wrapper {
        padding-left: 40%;
    }
}

/*This styling should be called by js when the button is toggled on */
.dark-mode {
    background-color: #333;
    color: #ffffff;
}
/*----------------------------------------------------------------*/

/* styling for images for fear and greed indexs */
.container {
    width: 90%;
    padding-left: 5%;
    text-align: center;
}

.index-images {
    display: flex;
    justify-content: space-between;
}

.index-images img {
    width: 45%;
    max-width: 100%; 
    border: 1px solid #ccc; 
    box-sizing: border-box;
}
/*All the buttons of all pages the styling start here */
.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
  /*Fear and greed index div retrieved data */
  #fearAndGreedDiv {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #804444;
    font-size: large;
}

/* styling the info table start here */

table {
    border-collapse: collapse;
    width: 50%;
    padding-left: 5%;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  th {
    background-color: #805151;
  }
  tr:hover {
    background-color: #944b4b;
  }